.roomifier-hidden{
  display: none;
}

.roomifier-hidden-in{
  display: none !important;
}

.roomifier-content{
  background: #fff;
  position: absolute;
  border: 1px #999 solid;
  -webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
  padding: 10px;
  z-index: 99999 !important;
  min-width: 405px;
  /*box-shadow: -2px 4px 5px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: -2px 4px 5px 1px rgba(0,0,0,0.5);
  -webkit-box-shadow: -2px 4px 5px 1px rgba(0,0,0,0.5);*/
  cursor:auto;
  /*-webkit-box-shadow: 0 2px 0 #ccc, 0 -1px #fff inset;
	-moz-box-shadow: 0 2px 0 #ccc, 0 -1px #fff inset;
	box-shadow: 0 2px 0 #ccc, 0 -1px #fff inset;*/
	top: 50px !important;
	left: 0px;
}

.roomifier-rooms-selector, .roomifier-rooms-content, .roomifier-adults-selector, .roomifier-kids-selector, .roomifier-ages-div, .roomifier-age-selector{
  float: left;
  display: block;
}

.roomifier-rooms-content{
  margin: 0 10px;
}

.roomifier-adults-selector, .roomifier-kids-selector, .roomifier-age-selector{
  margin-left: 10px;
}

.roomifier-rooms-selector label, .roomifier-adults-selector label, .roomifier-kids-selector label{
  display: block;
  padding-left: 2px;
}

.roomifier-ages-div label{
  display: block;
  padding-left: 10px;
}

.roomifier-input{
  width: 94%;
	padding: 3px 20px 3px 3px;
	margin: 0;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	/*-webkit-box-shadow: 0 2px 0 #ccc, 0 -1px #fff inset;
	-moz-box-shadow: 0 2px 0 #ccc, 0 -1px #fff inset;
	box-shadow: 0 2px 0 #ccc, 0 -1px #fff inset;*/
	color: #222;
	border: solid 1px #999;
	outline: none;
	display: inline-block;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	background-attachment: scroll;
	background-color: #f8f8f8;
	background-image: url(../images/arrow-select.png);
	background-repeat: no-repeat;
	background-position: right center;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 15px;
}

.roomifier-input-div{
  /*width: 170px;
  background: #fff;
  height: 40px;
  line-height: 40px;
  margin-top: 12px;
  text-align: left;
  border: 1px solid #c9c9c9;
  border-radius: 3px;
  width: 170px;*/
  cursor: pointer;
  /*position: relative;
  overflow: visible !important;*/
}

.roomifier-down-arrow{
  color: #666;
  padding-left: 6px;
  display: none !important;
}
.roomifi_here{
	position: relative;
	overflow: visible !important;
}
